@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 231 15% 18%;
  --foreground: 60 30% 96%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.pixelated-border {
  box-shadow: 0 0 0 2px #6272a4, 0 0 0 4px #282a36, 0 0 0 6px #6272a4;
}

.font-pixel {
  text-shadow: 2px 2px 0 #282a36;
  letter-spacing: -1px;
}

.drop-shadow-icon {
  filter: drop-shadow(2px 2px 0 #282a36);
}

